# OS / system files
.DS_Store
Thumbs.db

# Editor / IDE settings
.vscode/
.idea/
*.swp

# Logs
*.log

# Ignore Markdown files
*.md

# Dependency folders
node_modules/

# Source files (we commit minified dist/ instead)
tailwind.config.js

# Build / cache
.cache/
